
body{
background-color: black;
}
.cabeca{
    background-color: black;
    color: white;
    display: grid;
    justify-content: center;
    padding: 10% 20%;
}
.princ{
 background-color: rgb(131, 84, 26);  
 display: grid;
    justify-content: center; 
    padding: 30px 20%;
    margin: 10pt 20pt;

}
.img{
   display: flex;
    height: 580px;
    
    
}
.baixo{
    background-color:black;
    color: white;
    display: grid;
    justify-content: center;
    padding:10% 20%;
}


  